name: On Pull Request

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:


jobs:
  test:
    strategy:
      max-parallel: 1
      fail-fast: true
      matrix:
        php-version: ["7.4", "8.0", "8.1", "8.2"]
    runs-on: ubuntu-latest

    env:
      TEST_AUTH_TOKEN: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}
      TEST_CACHE_NAME: php-integration-test-cache

    steps:
      - uses: actions/checkout@v3

      - name: Verify README generation
        uses: momentohq/standards-and-practices/github-actions/oss-readme-template@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: sdk
          sdk_language: PHP
          dev_docs_slug: php
          template_file: ./README.template.md
          output_file: ./README.md

      - name: Commitlint and Other Shared Build Steps
        uses: momentohq/standards-and-practices/github-actions/shared-build@gh-actions-v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: grpc
          tools: composer

      - name: Install dependencies
        run: composer install

      - name: Update for 7.4
        if: ${{ matrix.php-version == '7.4' }}
        run: composer update

      - name: Run tests
        run: php vendor/phpunit/phpunit/phpunit --configuration phpunit.xml

      - name: Run examples
        env:
          MOMENTO_AUTH_TOKEN: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}
        working-directory: ./examples
        run: |
          composer install
          php ./example.php
          php ./dictionary-example.php
          php ./list-example.php
          php ./set-example.php
